# ---- HDFC ERGO (Private Car, PRODUCT_CODE 2311) ----
HDFC_ENABLED=false
HDFC_BASE_URL=https://accessuat.hdfcergo.com/cp/integration/heiintegrationservice/integration/
HDFC_SOURCE=
HDFC_CHANNEL_ID=
HDFC_CREDENTIAL=
HDFC_PRODUCT_PVTCAR=2311
HDFC_TOKEN_TTL=1500

# ---- HDFC Pehchaan e-KYC (separate service) ----
HDFC_KYC_BASE_URL=https://ekyc-uat.hdfcergo.com/e-kyc
HDFC_KYC_API_KEY=
HDFC_KYC_TOKEN_TTL=480
HDFC_KYC_RETURN_URL=
